<h1>Products</h1>

<% @products.each do |product| %>
  <p>
    <%= product.name %>
    <%# $<%= product.price_in_cents / 100.0 %>
    <%# product.pretty_price %>
    <%= number_to_currency(product.price_in_cents) %>
    <a href="/admin/products/<%= product.id %>/edit">Edit</a>
  </p>
<% end %>

<%= button_primary('Foo', '/admin/products') %>

<%= button_primary('Foo you', '/admin/products') %>

